* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}


header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

header nav ul li a:hover {
    background-color: #34495e;
}

.proyecto {
    width: 60%;
    margin: 50px auto;
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.proyecto h1 {
    color: #333;
}

.proyecto img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 20px 0;
}

.proyecto p, .proyecto ul {
    color: #666;
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

.proyecto ul {
    list-style-type: disc;
    padding-left: 20px;
}

